.sudoku_field {
  max-width: 450px;
  max-height: 450px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;

}

.sudoku_square {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: calc(450px/3 - 2px);
    height: calc(450px/3 - 2px);
}

.sudoku_input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(450px/9 - 2.7px);
    height: calc(450px/9 - 2.7px);
    border: 1px solid black;
}

#menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.button, .list {
  font-size: 15px;
  width: 100px;
  margin: 4px;
  height: 30px;
  opacity: 0.9;
  transition-duration: 0.4s;
  font-family: 'samurai';
  color: rgb(67,21,30);
  border-radius: 5px;
}

.button:hover, .list:hover {
  background-color: rgb(67,21,30);
  color: aliceblue;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.button:active {
  background-color: rgb(67,21,30);
  box-shadow: 0 5px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
}