body {
  background-image: url(//64.media.tumblr.com/167a2f1302adb4a4bca484b175bad595/tumblr_mw5wofc39c1t0l0tao1_400.gif);
  background-repeat: no-repeat;
}

div {
    display: flex;
    justify-content: center;
    min-height: 200px;
    min-width: 200px;
    font-size: 38px;
    font-weight: bolder;
    animation-duration: 5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      border: unset;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
      border: unset;
    }
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    font-weight: bolder;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, red, blue);
    border-radius: 30px;
    z-index: 100;
  }

  .krasota {
    display: flex;
    padding: 20px;
    border: 2.5px solid black;
    color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, red, blue);
    z-index: 100;
  }

#input {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bolder;
  color: transparent;    
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, red, blue);
    z-index: 100;
}