* {
  padding: 0;
  margin: 0;
}

.table1,
.table2 {
  background-color: #000000;
  border: 1px solid red;
  margin-top: 5px;
  color: white;
  height: 100px;
  width: 100px;
  font-size: 5px;
  text-align: center 
}

td {
  border: 1px solid red;
}

.contan {
  display: flex;
  justify-content: space-around;
}

.button1 {
  margin-top: 40px;
}

.button2 {
  border-radius: 3px;
  border: 2px blue solid;
  background-color: turquoise;
}

body {
  background-image: url(https://avatars.mds.yandex.net/get-zen_doc/61014/pub_5de8da6035ca3100afdc523d_5dedfa7505fd9800b1fcc61e/scale_1200);
}
