* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100vh;
}

.container {
  background-color: #7743db;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: #a3ffd6;
  font-size: 40px;
  font-weight: 800;
}

input {
  padding: 20px;
  margin: 20px;
  border: solid 3px #f6f5f2;
  border-radius: 5px;
  background-color: transparent;
  color: #f6f5f2;
  outline: none;
  font-size: 20px;
}

.solve {
  padding: 20px;
  border: none;
  /* border: solid 3px #f6f5f2; */
  border-radius: 5px;
  background-color: #ffebb2;
  color: #7743db;
  font-size: 20px;
  font-weight: 800;
}
.render {
  padding: 20px;
  border: none;
  /* border: solid 3px #f6f5f2; */
  border-radius: 5px;
  background-color: #a3ffd6;
  color: #7743db;
  font-size: 20px;
  font-weight: 800;
}

.puzzle {
  display: flex;
  flex-direction: column;
  border: solid 5px #f6f5f2;
  border-radius: 20px;
  padding: 10px;
}

.puzzle__row {
  display: flex;
}

.puzzle__letter {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #f6f5f2;
  border-radius: 5px;
  margin: 8px;
  width: 30px;
  height: 30px;
  color: #a3ffd6;
  font-size: 15px;
  font-weight: 600;
}
.active {
  background-color: #41b06e;
}
.red {
  background-color: red;
}
