.h
{
  text-align: center;
  color:#29edff;
}
.string
{
  display: flex;
  flex-direction: column;
}

.global
{
display: flex;
flex-direction: row;
justify-content: center;
}

.fon 
{
  background-color: #4520ab;
}

.divsquare
{
    display: table;
    width:auto;
    border:1px solid  #ffbc5b;
}

.divRow
{
  display:table-row;
  width:auto;
}

.divCell
{
    float:left;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color:white;
    width: 50px;
    height: 50px; 
    border:2px solid  #4520ab;
    font-family: Impact, fantasy;
  

}

a.button8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
    text-align: center;

  color: #ffbc5b;
  width: 200px;
    height: 50px; 
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  font-family: Impact, fantasy;
} 
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: white; }

.kk {
  display: flex;
  justify-content: center;
}
