.h
{
  text-align: center;
  color:#29edff;
}
.string
{
  display: flex;
  flex-direction: column;
}

.global
{
display: flex;
flex-direction: row;
justify-content: center;
}

.fon 
{
  background-color: #4520ab;
}

.divsquare
{
    display: table;
    width:auto;
    border:1px solid  #ffbc5b;
}

.divRow
{
  display:table-row;
  width:auto;
}

.divCell
{
    float:left;/*fix for  buggy browsers*/
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color:white;
    width: 50px;
    height: 50px; 
    border:2px solid  #4520ab;
    font-family: Impact, fantasy;
  

}


